* {
	font-family: cursive;
	box-sizing: border-box;
	margin:0px;
	font-size: 16px;

}

h1 {
	color:black;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 30px;
	font-size: 175%;
}

.children {
	float: left;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: rgb(200,200,200);
}

div div p {
	clear: right;
	margin:40px 20px 20px 20px;
}

div > div > div{
	font-size: 125%;
	text-align: center;
	float: right;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	font-weight: bold;
	width: 30%;
	margin: -1px;
}
div > div:nth-child(2) > div {
	background-color: rgb(213,152,152);
	color: black;
}

div > div:nth-child(3) > div {
	background-color: rgb(193,69,67);
	color: white;
}

div > div:nth-child(4) > div {
	background-color: rgb(229,209,152);
	color: black;
}





/* Simple Responsive Framework. */
.parent {
	width: 100%;
	padding: 1%;

}

/********** Large devices only **********/
@media (min-width: 992px) {
	.children {margin: 1%}
	.col-lg-4 {width: 31.33%;}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991.9999px) {
	.children {margin: 1%}
	.col-md-6 {width: 48%;}
	.col-md-12 {width: 98%;}
}


/********** Small devices only **********/
@media (max-width: 767.99999px) {
	.children {margin: 1%}
	.col-sm-12 {width: 98%;}
}
